* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 20px;
  }

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.hero h1 {
    font-family: "Geist Mono", monospace;
    font-size: 80px;
}

.underscore {
    animation: flash 1s steps(2, start) infinite;
}

@keyframes flash {
    0%, 100% {
      color: rgb(0, 255, 0);
    }
    50% {
      color: transparent;
    }
  }

.hero h2 {
    font-family: "Geist Mono", monospace;
    font-weight: 400;

}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid black;
}

.timeline-section {
    border: 2px solid black;
}

.background-heading {
    font-family: Lacquer;
    font-size: 18px;
}

.background-heading img {
    width: 120px;
    margin-left: 150px;
}

.masonry-section {
    border: 2px solid black;
}

.carousel h2 {
    font-family: "Lacquer";
    font-weight: 400;
}

