* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 20px;
  }

.hero {
    text-align: center;
}

.hero h1 {
    font-family: "Geist Mono", monospace;
    font-size: 80px;
}

.underscore {
    animation: flash 1s steps(2, start) infinite;
}

@keyframes flash {
    0%, 100% {
      color: rgb(0, 255, 0);
    }
    50% {
      color: transparent;
    }
  }

.hero h2 {
    font-family: "Geist Mono", monospace;
    font-weight: 400;

}

.profile-container {
    display: flex;
    border: 2px solid black;
}

.background-heading {
    font-family: Lacquer;
}

.carousel h2 {
    font-family: "Geist Mono", monospace;
    font-weight: 400;
}

